In [1]:
import pandas as pd

In [16]:
df = pd.read_csv(r"M:\Projects\Databricks\Azure Databricks\jfreex-e-commerce-users-of-a-french-c2c-fashion-store\users.6M0xxK.2024.public.csv")
df.head(5)

,identifierHash,type,countryCode,country,language,socialNbFollowers,socialNbFollows,socialProductsLiked,productsListed,productsSold,...,productsWished,productsBought,gender,civilityGenderId,civilityTitle,hasProfilePicture,seniority,seniorityAsMonths,seniorityAsYears,websiteLongevity
0,1920991140,user,us,Etats-Unis,en,3,8,0,0,0,...,0,0,M,1,mr,True,3206,106.87,8.91,3803
1,1920860068,user,se,Suède,en,3,8,1,0,0,...,0,0,M,1,mr,True,3206,106.87,8.91,3803
2,1920401316,user,it,Italie,fr,3,8,0,0,0,...,0,0,M,1,mr,True,3206,106.87,8.91,3803
3,1919811492,user,dk,Danemark,en,75,10,1968,0,0,...,43,15,M,1,mr,True,3206,106.87,8.91,3803
4,1919025060,user,de,Allemagne,de,3,8,0,0,0,...,0,0,M,1,mr,True,3206,106.87,8.91,3803

In [18]:
df.count()

identifierHash         20743
type                   20743
countryCode            20710
country                20743
language               20743
socialNbFollowers      20743
socialNbFollows        20743
socialProductsLiked    20743
productsListed         20743
productsSold           20743
productsPassRate       20743
productsWished         20743
productsBought         20743
gender                 20743
civilityGenderId       20743
civilityTitle          20743
hasProfilePicture      20743
seniority              20743
seniorityAsMonths      20743
seniorityAsYears       20743
websiteLongevity       20743
dtype: int64

In [20]:
import os

# Define chunk size
chunk_size = len(df) // 5 + (1 if len(df) % 5 else 0)

# Define output directory (make sure it exists)
output_dir = r"M:\Projects\Databricks\Azure Databricks\jfreex-e-commerce-users-of-a-french-c2c-fashion-store\chunk-data"
os.makedirs(output_dir, exist_ok=True)

# Split the dataframe into chunks & save them (chunk6.csv to chunk10.csv)
for i in range(5):
    start = i * chunk_size
    end = min(start + chunk_size, len(df))  # Prevents index overflow
    chunk_df = df.iloc[start:end]
    
    # Save each chunk with index starting from 6 to 10
    chunk_file = os.path.join(output_dir, f"chunk{i+6}.csv")
    chunk_df.to_csv(chunk_file, index=False)

    print(f"Saved {chunk_file}")

Saved M:\Projects\Databricks\Azure Databricks\jfreex-e-commerce-users-of-a-french-c2c-fashion-store\chunk-data\chunk6.csv
Saved M:\Projects\Databricks\Azure Databricks\jfreex-e-commerce-users-of-a-french-c2c-fashion-store\chunk-data\chunk7.csv
Saved M:\Projects\Databricks\Azure Databricks\jfreex-e-commerce-users-of-a-french-c2c-fashion-store\chunk-data\chunk8.csv
Saved M:\Projects\Databricks\Azure Databricks\jfreex-e-commerce-users-of-a-french-c2c-fashion-store\chunk-data\chunk9.csv
Saved M:\Projects\Databricks\Azure Databricks\jfreex-e-commerce-users-of-a-french-c2c-fashion-store\chunk-data\chunk10.csv